.DS_Store
_build
.vscode
tests/core.yaml
.pytest_cache/
*.py[co]
.ipynb_checkpoints
test.ipynb
.env
local_config.*
tests/__pycache__/*
.ropeproject
migrations
src
.cache
_book
public
node_modules
passwords.txt
